<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psu.seedcampaign" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyCustomTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Land"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Plant"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Feed"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".North_Knowlede"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".NorthEast_Knowlede"
            android:label="@string/title_activity_north_east__knowlede" >
        </activity>
        <activity
            android:name=".Central_Knowlede"
            android:label="@string/title_activity_central__knowlede" >
        </activity>
        <activity
            android:name=".East_Knowlede"
            android:label="@string/title_activity_east__knowlede" >
        </activity>
        <activity
            android:name=".South_Knowlede"
            android:label="@string/title_activity_south__knowlede" >
        </activity>
        <activity
            android:name=".Discription"
            android:label="@string/title_activity_discription" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
